.conference-list-header {
    margin-top: 50px;
    text-align: center;
}

.conference-list-button-container {
    margin-top: 100px;
    margin-left: 300px;
}

.conference-list-container {
    margin: 10px 300px 0;
}